*.ttf filter=lfs diff=lfs merge=lfs -text
Assets/MySprites/Fonts/* filter=lfs diff=lfs merge=lfs -text
Assets/CorgiEngine/ThirdParty/*[[:space:]] filter=lfs diff=lfs merge=lfs -text
Assets/CorgiEngine/* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
